body {
  background-image: linear-gradient(#e66465, #9198e5);
  /* background-image: linear-gradient(purple, white); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  margin: 30px 200px;
  min-width: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  text-align: center;
}
p {
  padding: 20px;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}
